@import 'helpers/variables.scss';
@import 'helpers/mixins';

body{
    background-color: $background-color;
    font-family: $font-family ;
}

.app-body{
    background-color: #ffffff;
    border-radius: 20px;
    min-height: 97vh;
    margin-left: $sidebar-width;
}
